.list-posts {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        background-color: #f0f0f5;
        border-radius: 4px;
        margin: 10px 0;
        -webkit-transition: 260ms ease-in-out;
        transition: 260ms ease-in-out;

        &:hover {
            -webkit-box-shadow: 0px -1px 11px 0px rgba(0,0,0,0.2);
            -moz-box-shadow: 0px -1px 11px 0px rgba(0,0,0,0.2);
            box-shadow: 0px -1px 11px 0px rgba(0,0,0,0.2);
            -webkit-transform: scale(1.02) translateY(-2px);
            transform: scale(1.02) translateY(-2px);
        }
    }

    a {
        color: #1f1f1c;
        display: block;
        padding: .5em 1em;
        -webkit-transition: color 230ms;
        transition: color 230ms;

        &:hover {
            color: rgba(#1f1f1c, .8);
            text-decoration: none;
        }
    }
}
